
@import "install-button.css";
@import "fonts.css";
@import "slidebox.css";

* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'MozTTLight', Verdana, sans-serif;
    background: #fff;
    color: #222;
}

body > header {
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #c66a00;
    background: linear-gradient(top, #c66a00, #b54d17);
    background: -o-linear-gradient(top, #c66a00, #b54d17);
    background: -ms-linear-gradient(top, #c66a00, #b54d17);
    background: -moz-linear-gradient(top, #c66a00, #b54d17);
    background: -webkit-linear-gradient(top, #c66a00, #b54d17);
    border-bottom: 1px solid #933212;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
    color: white;
    padding: .5rem 1rem;
}

body > header > h1 {
    font-size: 250%;
}

body > header button {
    float: left;
    padding: 0.5rem;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1;
    background: #efefef;
    background: -moz-linear-gradient(top, #efefef, #ccc);
    border-radius: 0.5rem;
    border: 1px solid rgba(0,0,0,0);
}

h1 {
    font-family: sans-serif;
    font-weight: 500;
}

article {
    display: block;
}

.contents {
    display: none;
}

#list article {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #a8a8a8;
    cursor: pointer;
}
    #list article:hover {
        background: #ffffef;
    }

/*x-view .contents {
    padding: 1em;
}

x-view h1 {
    margin-top: 0;
}

x-view.edit .field {
    margin-top: 1em;
}

x-listview.list li:before {
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/glyphicons-halflings.png) no-repeat -95px -2px;
    margin-right: 5px;
    vertical-align: middle;
}

ul li {
}*/
